# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# VS Code
.vscode/

# Logs
*.log

# Data files (large datasets should not be pushed)
data/
